<!--header book-->
<header class="main-header ivivu-main-header">

    <nav class="navbar" style="border:0px solid transparent;">
        <div class="container" style="display:flex;justify-content: center;">
            <!-- Logo -->
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="https://res.ivivu.com/hotel/img/logo.svg" alt="ivivu">

                </a>
            </div>
            <!-- end logo -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

            </div>


            <!-- /.navbar-collapse -->
            <div class="header-navigation pull-left font-transform-inherit" style="align-items: center;align-self: center; margin: 0 auto;width: 186px;height: 60px;justify-content: center;display: flex;">
                <ul style="align-items: center;">
                    <li class="">
                        <a href="#" class="">
                            <span class="tempMarginPaymentHeader" style="font-size: 20px  ; color: white ;">Thông tin người đặt</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li data-placement="left" title="Tìm kiếm khách sạn">
                        <a class="search-item menu-search" id="homepage-search-icon">

                            <i class="fa fa-search btn-search fa fa-search btn-search menu-search "></i>
                        </a>
                    </li>



                    <li class="hidden-xs hidden-sm">
                        <div class="hotline">
                            <div class="hotline-item">
                                <a class="hotline-link" id="DeskHotlineNumber" href="tel:19001870">
                                    <i class="fa fa-phone"></i> 1900 2045
                                </a>
                            </div>
                            <div class="hotline-item">
                                <div class="dropdown hotline-dropdown">
                                    <p class="hotline-location pull-right dropdown-toggle" data-toggle="dropdown">
                                        <span class="v-margin-right-5" id="DeskTime">
                                            <i class="fa fa-clock-o"></i>
                                            7h30 → 21h
                                        </span>
                                        <i class="fa fa-map-marker"></i> <span class="visible-lg-inline-block"
                                                                               id="DeskDisplayName">Hà Nội </span> <span class="hidden-lg">
                                            iVIVU
                                            HCM
                                        </span> <i class="fa fa-angle-down"></i>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>


            <!-- BEGIN TOPSEARCH -->
            <!-- END TOPSEARCH -->




        </div>
    </nav>

</header>
<!--end_header_book-->