<!-- Các quy định -->
<h3>
    <strong>
        <span style="color:#B22222;">
            <span style="font-size:18px;">
                C&Aacute;C QUY ĐỊNH &Aacute;P DỤNG
                CHO CHƯƠNG TR&Igrave;NH:
            </span>
        </span>
    </strong>
</h3>

<p style="text-align: justify;">
    Dưới đ&acirc;y l&agrave; mức phạt hủy tour theo quy định của c&ocirc;ng ty.
    Ch&uacute;ng t&ocirc;i sẽ linh động giải quyết từng trường hợp cụ thể trong khả năng cho ph&eacute;p.
</p>

<h4>
    <span style="color:#B22222;">
        <span style="font-size:16px;">
            <strong>
                Điều kiện ho&agrave;n hủy tour của
                Qu&yacute; kh&aacute;ch:
            </strong>
        </span>
    </span>
</h4>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Nếu qu&yacute; kh&aacute;ch hủy tour sau khi đăng k&yacute; v&agrave; trước 30
    ng&agrave;y khởi h&agrave;nh: mất ph&iacute; cọc tour
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Nếu qu&yacute; kh&aacute;ch hủy tour từ 20-30 ng&agrave;y trước ng&agrave;y khởi
    h&agrave;nh: ph&iacute; hủy 50% gi&aacute; trị tour.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Nếu qu&yacute; kh&aacute;ch hủy tour từ 15-20 ng&agrave;y trước ng&agrave;y khởi
    h&agrave;nh: ph&iacute; hủy 70% gi&aacute; trị tour.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Nếu qu&yacute; kh&aacute;ch hủy tour trong v&ograve;ng 15 ng&agrave;y trước ng&agrave;y
    khởi h&agrave;nh: ph&iacute; hủy 100% gi&aacute; trị tour.
</p>

<p>
    <strong>
        <span style="color:#006400;">
            <em>
                Lưu &yacute; : T&ugrave;y theo điều kiện n&agrave;o đến trước
                ch&uacute;ng t&ocirc;i sẽ &aacute;p dụng điều kiện đ&oacute;.
            </em>
        </span>
    </strong>
</p>

<h4>
    <span style="color:#B22222;">
        <span style="font-size:16px;">
            <strong>
                Điều kiện quy định v&eacute;
                m&aacute;y bay:
            </strong>
        </span>
    </span>
</h4>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Vietnam Airlines: Kh&ocirc;ng ho&agrave;n hủy, đổi t&ecirc;n, đổi h&agrave;nh
    tr&igrave;nh, t&aacute;ch chặng trong bất cứ trường hợp n&agrave;o
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Giờ bay có th&ecirc;̉ thay đ&ocirc;̉i theo giờ bay điều chỉnh của H&atilde;ng
    H&agrave;ng Kh&ocirc;ng Vietnam Airlines.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Về t&iacute;nh chất đo&agrave;n gh&eacute;p, tour kh&ocirc;ng đủ kh&aacute;ch khởi
    h&agrave;nh sẽ hủy. Đơn vị lữ h&agrave;nh sẽ c&oacute; nhiệm vụ b&aacute;o trước tới kh&aacute;ch 15
    ng&agrave;y.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Khi đi máy bay Quý khách n&ecirc;n mang theo m&ocirc;̣t trong các gi&acirc;́y tờ
    sau: (Chứng minh thư nh&acirc;n d&acirc;n còn hạn dưới 15 năm, hoặc h&ocirc;̣ chi&ecirc;́u,
    gi&acirc;́y khai sinh (đ&ocirc;́i với trẻ em dưới 14 tuổi).
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Với trẻ em 14 tuổi ( Y&ecirc;u cầu phải c&oacute; CMTND, nếu trường hợp chưa c&oacute;
    phải c&oacute; giấy x&aacute;c nhận nh&acirc;n th&acirc;n theo mẫu v&agrave; đ&oacute;ng dấu của địa
    phương nơi cư tr&uacute;).
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>​Với trẻ em kh&ocirc;ng đi c&ugrave;ng bố mẹ phải c&oacute; giấy x&aacute;c nhận ủy
    quyền của bố mẹ c&oacute; x&aacute;c nhận của địa phương nơi cư tr&uacute; cho người đi c&ugrave;ng,
    đ&ecirc;̉ làm thủ tục l&ecirc;n máy bay.
</p>

<h4>
    <strong>
        <span style="color:#B22222;">
            <span style="font-size:18px;">
                C&aacute;c quy định
                chung:
            </span>
        </span>
    </strong>
</h4>

<p style="text-align: justify; margin-left: 40px;">
    +&nbsp; &nbsp;Nếu qu&yacute; kh&aacute;ch hủy tour do bị
    từ chối l&agrave;m thủ tục tại s&acirc;n bay do nh&acirc;n th&acirc;n / giấy tờ t&ugrave;y th&acirc;n,
    c&ocirc;ng ty kh&ocirc;ng chịu tr&aacute;ch nhiệm cho sự việc tr&ecirc;n. C&aacute;c chi ph&iacute; cho
    chương tr&igrave;nh sẽ kh&ocirc;ng được ch&uacute;ng t&ocirc;i ho&agrave;n lại trong trường hợp
    n&agrave;y.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Do t&iacute;nh chất đo&agrave;n gh&eacute;p kh&aacute;ch lẻ, nếu đo&agrave;n c&oacute;
    từ 10 người lớn trở l&ecirc;n, đo&agrave;n sẽ khởi h&agrave;nh đ&uacute;ng ng&agrave;y. Nếu đo&agrave;n
    kh&ocirc;ng đủ 10 kh&aacute;ch, c&ocirc;ng ty &nbsp;sẽ sắp xếp ng&agrave;y khởi h&agrave;nh mới
    v&agrave; th&ocirc;ng b&aacute;o cho kh&aacute;ch h&agrave;ng biết trước 15 ng&agrave;y l&agrave;m việc.
</p>

<p style="text-align: justify; margin-left: 40px;">
    <span style="text-align: justify;">
        +&nbsp;
        &nbsp;
    </span>Nếu c&ocirc;ng ty kh&ocirc;ng tổ chức cho đo&agrave;n đi đ&uacute;ng thời gian dự kiến
    do c&aacute;c nguy&ecirc;n nh&acirc;n bất khả kh&aacute;ng như: Thi&ecirc;n tai, b&atilde;o lụt, chiến
    tranh&hellip;. C&ocirc;ng ty sẽ thu xếp ng&agrave;y khởi h&agrave;nh mới, mọi chi ph&iacute; ph&aacute;t
    sinh do hai b&ecirc;n thỏa thuận.
</p>

<p style="text-align: center;">
    <span style="color:#006400;">
        <strong>
            <span style="font-size:18px;">
                <span style="font-family:times new roman,times,serif;">
                    Ch&acirc;n th&agrave;nh cảm ơn
                    Qu&yacute; kh&aacute;ch<br />
                    K&iacute;nh ch&uacute;c Qu&yacute; kh&aacute;ch chuyến tham quan vui vẻ, &yacute;
                    nghĩa!
                </span>
            </span>
        </strong>
    </span>
</p>
<!-- end_Các quy định -->
