
<!--search-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">


    <div class="tourHomeHeader" id="bg-banner-home" style="background-image: url(../../Images/backgroand_Search.jpg);">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 tourHomeSearchPanel no-padding">
                        <div class="positionPanel">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding tourHomeSearchForm"
                                 id="tour-form-panel">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding typeAHeadDiv"
                                     id="typeAHeadDiv">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding tourHomeIntro">
                                        <h1>Du lịch theo phong cách riêng</h1>
                                        <h2>Trải nghiệm trọn vẹn - Giá cả phải chăng.</h2>
                                    </div>
                                    <div class="col-xs-12 search-form home-page">
                                        <div class="row">
                                            <div class="col-xs-12 v-margin-bottom-15 typeahead-container search-fullframe">
                                                <div class="col-xs-12 no-padding v_field">
                                                    <div class="input-icon">

                                                    </div>
                                                    <input type="text"
                                                           class="form-control v_field__input search-input typeahead"
                                                           name="search-home-text" id="search-home-text"
                                                           maxlength="200" placeholder="Bạn muốn đi đâu?" />

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-2 " style="float: right;">
                                                <button class="btn btn-action btn-block  search-form-button btn-big">
                                                    <b>
                                                        Tìm
                                                    </b>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<!--end_search-->