
@{
    ViewBag.Title = "SetBook";
    Layout = "~/Views/Shared/NewFolder1/_Layout_Book.cshtml";
}

<div class="alert alert-success">
    <strong>
        Thành công!Thông tin của quý khách đã được gửi về cho chúng tôi.Ivivu sẽ check và kiểm tra thông tin của quý khách<br />
        Trân trọng cảm ơn
    </strong>
</div>
