
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/NewFolder1/_LayoutHeaderAndFooter.cshtml";
}

<h2>Test</h2>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainContent">
    <!-- most_interesting -->
    <div class="col-xs-12 no-padding v-margin-top-30 v-margin-bottom-30">
        <div class="col-xs-12 no-padding heading">

            <h2 class="heading__title">Du lịch an toàn</h2>
            <p class="heading__description">Nâng cao sức khỏe, cân bằng cuộc sống</p>

        </div>
        <div class="col-xs-12 no-padding v-margin-bottom-15">
            
            <div class="grid__container grid__container--topics super-cards topics owl-carousel  owl-carousel-mood owl-theme">




                <div class="grid__item grid__item--1 item">
                    <div class="col-xs-12 super-card lazy "
                         data-src="//cdn1.ivivu.com/iVivu/2018/09/11/15/mood_1-4.png"
                         data-was-processed="true"
                         style="background-image: url('//cdn1.ivivu.com/iVivu/2018/09/11/15/mood_1-4.png');">
                        <!--style="background-image: url('img');"-->
                        <a href="/chu-de/khach-san-lang-man" target="_blank">
                            <div class="col-xs-12 card-bg">
                                <div class="info">
                                    <p class="title">L&#227;ng mạn</p>

                                    <p class="description">
                                        Đi khắp thế gian, y&#234;u thương ngập tr&#224;n
                                        - <span style="text-decoration:underline;">12 khách sạn</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__item grid__item--2 item">
                    <div class="col-xs-12 super-card lazy "
                         data-src="//cdn1.ivivu.com/iVivu/2021/02/15/11/chon-4.jpg" data-was-processed="true"
                         style="background-image: url('//cdn1.ivivu.com/iVivu/2021/02/15/11/chon-4.jpg');">
                        <!--style="background-image: url('img');"-->
                        <a href="/chu-de/khach-san-khoe-manh" target="_blank">
                            <div class="col-xs-12 card-bg">
                                <div class="info">
                                    <p class="title">Khỏe mạnh</p>

                                    <p class="description">
                                        Bước ra &#225;nh s&#225;ng, tăng sức đề
                                        kh&#225;ng - <span style="text-decoration:underline;">
                                            20 khách
                                            sạn
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__item grid__item--3 item">
                    <div class="col-xs-12 super-card lazy "
                         data-src="//cdn1.ivivu.com/iVivu/2021/02/15/20/chon-5.jpeg"
                         data-was-processed="true"
                         style="background-image: url('//cdn1.ivivu.com/iVivu/2021/02/15/20/chon-5.jpeg');">
                        <!--style="background-image: url('img');"-->
                        <a href="/chu-de/khach-san-ket-noi" target="_blank">
                            <div class="col-xs-12 card-bg">
                                <div class="info">
                                    <p class="title">Kết nối</p>

                                    <p class="description">
                                        Kh&#244;ng gian kết nối th&#226;n t&#236;nh, tiện
                                        nghi cho con trẻ - <span style="text-decoration:underline;">
                                            25 khách
                                            sạn
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid__item grid__item--99 item">
                    <div class="col-xs-12 super-card lazy "
                         data-src="https://cdn1.ivivu.com/images/2020/11/04/10/hop_qua.png"
                         data-was-processed="true"
                         style="background-image: url('https://cdn1.ivivu.com/images/2020/11/04/10/hop_qua.png');">
                        <!--style="background-image: url('img');"-->
                        <a href="/voucher-du-lich" target="_blank">
                            <div class="col-xs-12 card-bg">
                                <div class="info">
                                    <p class="title">Gift Voucher</p>


                                    <p class="description">Lưu giữ khoảnh khắc, trải nghiệm hành trình</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end_most -->
</div>